<!doctype html>
<html lang="en">
<head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="stylesheets/fonts/icomoon/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">

<!-- Bootastrap CSS -->
<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="stylesheets/css/style.css">
<link rel="icon" href="https://64.media.tumblr.com/bafc236f8913370429d52ee13d363ff9/tumblr_nkm7541saS1r6wywso1_500.gifv">
<title>Modify Booking Successful</title>
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top justify-content-between">
  <div class="navbar-nav">

    <a href="/staffDash" class="nav-link nav-item navbar-brand" id="home"><i class="fa fa-fw fa-home"></i> Home</a>

  </div>

<div class="btn-group open">
  <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i><%= name%></a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
  </a>
  <ul class="dropdown-menu">
    <li><a href="/logout"><i class="fa fa-sign-out "></i> Logout</a></li>
  </ul>
</div>

</nav>
<script>
bookDate = localStorage.getItem("testing")
bookID = localStorage.getItem('testing2')
newTime = localStorage.getItem('newTime-ID')
function myfunction(){
  document.getElementById('pp').innerHTML = "Your new booking slot for Room <b>" +bookID+"</b> on <b>"+bookDate+"</b> is <b>"+newTime+"</b>" ;
}
</script>
<body onload="myfunction()">
  <style>
    .body1 {
      background-image: url('./stylesheets/images/Beautify-Pink.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .button {
  background-color: cyan;
  border: none;
  color: black;
  padding: 10px 20px;
  display  inline-block;
  border-radius: 16px;
  cursor: pointer;
  position: absolute;
  left: 875px;
  top: 500px;
}


  </style>
  <div class='container-fluid'>
  <div class='row vh-100'>
    <div class='col-2 h-100 bg-light'>
      <div style="margin-top:25%;">
        <nav class="nav nav-pills nav-fill flex-column">
        <a class="nav-link" href="/studentDash">Dashboard</a>
        <a class="nav-link" href="/viewbooking">Room Booking System</a>
        <a class="nav-link disabled" href="#">Consult a lecturer</a>
        <a class="nav-link disabled" href="#">Timetable</a>
      </nav>
      </div>
    </div>

      <div class='col-8 border body1'>
        <div style="margin-top:5%;">
          <div class="row justify-content-center">
            <div class ="col">
            <h1 class="text-center">You have modified your booking</h1> <br>
              <p class="text-center" id='pp'>Loading...</p>
          <a href="/viewbooking"><button class="button" type="button"><span>Back to Room Bookings</span></button></a>
          </div>

      </div>
    </div>
  </div>
      <div class='col-2 h-100 bg-light'>
        </div>
  </div>


<script>
 setTimeout(function(){
    window.location.href = '/viewbooking';
 }, 5000);
  </script>
  <script>
  </script>

      <script src="stylesheets/js/jquery-3.3.1.min.js"></script>
      <script src="stylesheets/js/popper.min.js"></script>
      <script src="stylesheets/js/bootstrap.min.js"></script>
      <script src="stylesheets/js/main.js"></script>
      </body>
