<htm>
  <head>
    <style>
      body {
        background-image: url('Beautify-Pink.png');
        background-size: cover;
      }

      div.mid {
        position: absolute;
        font-size: 80px;
        top: 200px;
        left: 530px;
      }

      .button {
    background-color: cyan;
    border: none;
    color: black;
    padding: 10px 20px;
    display  inline-block;
    border-radius: 16px;
    cursor: pointer;
    position: absolute;
    left: 875px;
    top: 500px;



    </style>
  </head>
  <body>
    <div class="mid"> Your booking is successful </div>


    <button class="button"> <a href="/viewbooking">Back to Room Bookings</a></button>

  </body>

    </html>
