<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="stylesheets/fonts/icomoon/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">
<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/css/style.css">



<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">

<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>

<link rel="icon" href="https://64.media.tumblr.com/bafc236f8913370429d52ee13d363ff9/tumblr_nkm7541saS1r6wywso1_500.gifv">
<title>Room Booking</title>
</head>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top justify-content-between">
  <div class="navbar-nav">
  <a href="/studentDash" class="nav-link nav-item navbar-brand" id="home"><i class="fa fa-fw fa-home"></i> Home</a>
</div>


<div class="btn-group open">
  <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> <%= name%></a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
  </a>
  <ul class="dropdown-menu"> 
    <li><a href="/logout"><i class="fa fa-sign-out "></i> Logout</a></li>
  </ul>
</div>

</nav>

</nav>


<body>

  <script src="stylesheets/js/jquery-3.3.1.min.js"></script>
  <script src="stylesheets/js/popper.min.js"></script>
  <script src="stylesheets/js/bootstrap.min.js"></script>
  <script src="stylesheets/js/main.js"></script>

<div class='container-fluid'>
<div class='row vh-100'>
  <div class='col-2 h-100 bg-light'>
    <div style="margin-top:25%;">
      <nav class="nav nav-pills nav-fill flex-column">
      <a class="nav-link" href="/studentDash">Dashboard</a>
      <a class="nav-link active" href="#">Room Booking</a>
      <a class="nav-link disabled" href="#">Consult a Lecturer</a>
      <a class="nav-link disabled" href="#">Timetable</a>
    </nav>
    </div>
  </div>

    <div class='col-10 border'>
      <div style="margin-top:5%;">
  <a href="/createRoom">
    <button class="dt-button"   type="button"><span>Create Room</span></button>
  </a>
  <a href="/editRoom">
    <button class="dt-button"   type="button"><span>Edit Room</span></button>
  </a>

  <p>

  <ul class="nav nav-tabs">
      <li class="nav-item">
          <a href="#book" class="nav-link active" data-toggle="tab">My Bookings</a>
      </li>
      <li class="nav-item">
          <a href="#empty" class="nav-link" data-toggle="tab">empty</a>
      </li>
  </ul>
  <div class="tab-content">
      <div class="tab-pane fade show active" id="book">
          <p>  <table id="myBookings"style="width:100%" >
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                        <th scope="col">Room ID</th>
                <th scope="col">Price ($)</th>
                <th scope="col">Promotional Code</th>
                <th scope="col">Room Capacity</th>
                <th scope="col">Timeslot</th>
                <th scope="col">Created By</th>
                <th scope="col">Booked By</th>
                <th scope="col">Launch Status</th>
                <th scope="col">Launch Start Date</th>
                <th scope="col">Launch End Date</th>
                <th scope="col">Timerange</th>
                <th scope="col">Timeslots</th>
                    </tr>
                </thead>
            </table></p>
      </div>
      <div class="tab-pane fade" id="empty">
          <p>  <table id="lala" style="width:100%">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                        <th scope="col">Room ID</th>
                <th scope="col">Price ($)</th>
                <th scope="col">Promotional Code</th>
                <th scope="col">Room Capacity</th>
                <th scope="col">Timeslot</th>
                <th scope="col">Created By</th>
                <th scope="col">Booked By</th>
                <th scope="col">Launch Status</th>
    <th scope="col">Launch Start Date</th>
    <th scope="col">Launch End Date</th>
    <th scope="col">Timerange</th>
    <th scope="col">Timeslots</th>

                    </tr>
                </thead>
            </table></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- TABLE -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css">

<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>

<script type="text/javascript" class="init">

$(document).ready(function() {
  // Create a new DataTable object
  table = $('#myBookings').DataTable({


"lengthMenu": [ [15, 50, 100, -1], [15, 50, 100, "All"] ],
"pagingType": "simple",
scrollY: 400,
select: true,

scrollCollapse: true,
order: [[ 1, 'asc' ]],
ajax: {
  url: '/roomData',
},
columns: [
    { data: '_id',
         visible: false, },
    { data: 'roomID' },
    { data: 'price',
         visible: false },
    { data: 'promotionalCode',
         visible: false },
    { data: 'roomCapacity',
         visible: false },
    { data: 'timeslot' },
    { data: 'createdBy',
         visible: false },
    { data: 'bookedBy',
         visible: false },
    { data: 'launchStatus',
         visible: false },
    { data: 'launchstartdate',
         visible: false },
    { data: 'launchenddate',
         visible: false },
    { data: 'timerange',
         visible: false },
    { data: 'timeslots',
         visible: false }
  ]
});

var filteredData = table
    .column( 1 )
    .data()
    .filter( function ( value, index ) {
        return value > 5 ? true : false;
    } );
 console.log(table)
table1 = $('#empty').DataTable({


     "lengthMenu": [ [15, 50, 100, -1], [15, 50, 100, "All"] ],
     "pagingType": "simple",
    // scrollY: 400,
     select: false,

     scroller:       true,
     scrollCollapse: true,
     order: [[ 1, 'asc' ]],
     ajax: {
       url: '/roomData',
     },
     columns: [
         { data: '_id',
              visible: false, },
         { data: 'roomID' },
         { data: 'price' ,
         visible: false, },
         { data: 'promotionalCode',
         visible: false, },
         { data: 'roomCapacity' ,
         visible: false, },
         { data: 'timeslot' },
         { data: 'createdBy' ,
         visible: false, },
         { data: 'bookedBy' },
         { data: 'launchStatus',
         visible: false, },
    { data: 'launchstartdate' ,
         visible: false, },
    { data: 'launchenddate' ,
         visible: false, },
    { data: 'timerange' ,
         visible: false, },
    { data: 'timeslots',
              visible: false, },
       ]
     })
     $('#empty').DataTable().search("4").draw();
     $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
$($.fn.dataTable.tables(true)).DataTable()
table.scroller.measure();
});

      $('#myBookings tbody').on('click', 'tr', function () {
                 var data = table.row(this).data();

                 if ($(this).hasClass('selected')) {
                     $(this).removeClass('selected');
                 } else {
                     table.$('tr.selected').removeClass('selected');
                     $(this).addClass('selected');
            var obtainroomID = data.roomID

            var obtainlaunchstartdate  = data.launchstartdate
            var obtainlaunchenddate  = data.launchenddate
            var obtainprice = data.price
            var obtainpromotionalCode = data.promotionalCode
            var obtainroomCapacity = data.roomCapacity
            var obtaintimerange= data.timerange
            localStorage.setItem('room-ID',obtainroomID)

            localStorage.setItem('launchstartdate-ID',obtainlaunchstartdate)
            localStorage.setItem('launchenddate-ID',obtainlaunchenddate)
            localStorage.setItem('price-ID',obtainprice)
            localStorage.setItem('promotionalCode-ID',obtainpromotionalCode)
            localStorage.setItem('roomCapacity-ID',obtainroomCapacity)
            localStorage.setItem('timerange-ID',obtaintimerange)
        }

    });
    $('#lala tbody').on('click', 'tr', function () {
                 var data = table1.row(this).data();

                 if ($(this).hasClass('selected')) {
                     $(this).removeClass('selected');
                 } else {
                     table1.$('tr.selected').removeClass('selected');
                     $(this).addClass('selected');
            var obtainroomID = data.roomID


            var obtainlaunchstartdate  = data.launchstartdate
            var obtainlaunchenddate  = data.launchenddate
            var obtainprice = data.price
            var obtainpromotionalCode = data.promotionalCode
            var obtainroomCapacity = data.roomCapacity

            var obtainopeninghour = data.openinghour

            localStorage.setItem('room-ID',obtainroomID)

            localStorage.setItem('launchstartdate-ID',obtainlaunchstartdate)
            localStorage.setItem('launchenddate-ID',obtainlaunchenddate)
            localStorage.setItem('price-ID',obtainprice)
            localStorage.setItem('promotionalCode-ID',obtainpromotionalCode)
            localStorage.setItem('roomCapacity-ID',obtainroomCapacity)
            localStorage.setItem('openinghour-ID',obtainopeninghour)
        }

    });

});



</script>

</body>
