<html>
<head>
<title>JT</title>
</head>
<body>
  <br>
  <div align="center"><h1> Billing </h1>

  Total amount = $
</div>
  <form><h3>
    <br>
    <div style="width:100%; margin:auto;">
    <div style="display:inline-block; width:45%; float:left">

    Select payment type:<br />
    <table border="1" height="40%" width="100%" style="border-collapse:collapse;">
      <tr>
        <td>
        <input type="radio" name="studentType" value="u">Credit Card <img src="../stylesheets/images/card.jpg" height="200" width="300" align="center"/>
        </td>
      </tr>
      <tr>
        <td>
          <input type="radio" name="studentType" value="p">EzLink
          </td>
      </tr>
      <tr>
        <td>
        <input type="radio" name="studentType" value="other">PayNow / PayLah <img src="../stylesheets/images/paylah.jpeg" height="100" width="300" align="center"/>
        </td>
      </tr>
    </table>
<br />
</h3>
</div>
</div>



<div style="width:50%; margin:auto;">
<div style="display:inline-block; width:45%; float:right">
<table border="1" width="40%" style="border-collapse:collapse;">

  <tr height="35px">
    <th>Card Number:</th><br>
    <th><input id="card" type="text" name="name" size="30">
    <span id="cardError"></span></th><br>
  </tr>

  <tr height="35px">
    <th>Date of Expiry:</th><br>
    <th><input id="" type="text" name="mod" size="30">
    <span id="moduleError"></span></th><br>
  </tr>

  <tr height="35px">
    <th>CVV:</th><br>
    <th><input id="demo" size="30" ></th><br>
  </tr>
  </table>
  </div>
  </div>



    </form>
        <div style="position:absolute; top:0; right:0; float:right;"> <a href="Login.html"><h5>Log Out </h5></a></div>



</body>
</html>
