<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="stylesheets/fonts/icomoon/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">
<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/css/style.css">



<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">

<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>

<link rel="icon" href="https://64.media.tumblr.com/bafc236f8913370429d52ee13d363ff9/tumblr_nkm7541saS1r6wywso1_500.gifv">
<title>Admin Dashboard</title>
</head>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top justify-content-between">
  <div class="navbar-nav">
  <a href="/admin" class="nav-link nav-item navbar-brand" id="home"><i class="fa fa-fw fa-home"></i> Home</a>
</div>


<div class="btn-group open">
  <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> <%= name%></a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
  </a>
  <ul class="dropdown-menu">
    <li><a href="/settings"><i class="fa fa-cog "></i> Settings</a></li>
    <li><a href="/logout"><i class="fa fa-sign-out "></i> Logout</a></li>
  </ul>
</div>

</nav>

</nav>


<body>

  <script src="stylesheets/js/jquery-3.3.1.min.js"></script>
  <script src="stylesheets/js/popper.min.js"></script>
  <script src="stylesheets/js/bootstrap.min.js"></script>
  <script src="stylesheets/js/main.js"></script>

<div class='container-fluid'>
<div class='row vh-100'>
  <div class='col-2 h-100 bg-light'>
    <div style="margin-top:25%;">
      <nav class="nav nav-pills nav-fill flex-column">
      <a class="nav-link" href="/staffDash">Dashboard</a>
      <a class="nav-link active" href="#">User Data</a> 
    </nav>
    </div>
  </div>

    <div class='col-10 border'>
      <div style="margin-top:5%;">
  <a href="/createaccount">
    <button class="dt-button"   type="button"><span>Create Account</span></button>
  </a>
  <a href="/editaccount">
    <button class="dt-button"   type="button"><span>Edit Account</span></button>
  </a>

  <p>

 
           <table id="example"style="width:100%" >
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                        <th scope="col">Full Name</th>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Hashed Password</th>
                <th scope="col">Role</th>
                <th scope="col">Last Login</th>
                <th scope="col">Last Logout</th>
                <th scope="col">Date Created</th> 
                    </tr>
                </thead>
            </table></p>
      </div> 
        
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- TABLE -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css">

<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>

<script type="text/javascript" class="init">

$(document).ready(function() {
  // Create a new DataTable object
  table = $('#example').DataTable({


"lengthMenu": [ [15, 50, 100, -1], [15, 50, 100, "All"] ],
"pagingType": "simple",
scrollY: 400,
select: true,

scrollCollapse: true,
order: [[ 1, 'asc' ]],
ajax: {
  url: '/userData',
},
columns: [
    { data: '_id',
         visible: false, },
    { data: 'fullname' },
    { data: 'studentID' },
    { data: 'email' },
    { data: 'hashedpassword' },
    { data: 'role'},
    { data: 'lastlogin'},
    { data: 'lastlogout'},
    { data: 'date'}
  ]
})


 

      $('#example tbody').on('click', 'tr', function () {
                 var data = table.row(this).data();

                 if ($(this).hasClass('selected')) {
                     $(this).removeClass('selected');
                 } else {
                     table.$('tr.selected').removeClass('selected');
                     $(this).addClass('selected');
           /* var obtainroomID = data.roomID

            var obtainlaunchstartdate  = data.launchstartdate
            var obtainlaunchenddate  = data.launchenddate
            var obtainprice = data.price
            var obtainpromotionalCode = data.promotionalCode
            var obtainroomCapacity = data.roomCapacity
            localStorage.setItem('room-ID',obtainroomID)

            localStorage.setItem('launchstartdate-ID',obtainlaunchstartdate)
            localStorage.setItem('launchenddate-ID',obtainlaunchenddate)
            localStorage.setItem('price-ID',obtainprice)
            localStorage.setItem('promotionalCode-ID',obtainpromotionalCode)
            localStorage.setItem('roomCapacity-ID',obtainroomCapacity)*/
        }

    });
   

});




</script>

</body>
