<!doctype html>
<html lang="en">
<head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="stylesheets/fonts/icomoon/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">

<!-- Bootastrap CSS -->
<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="stylesheets/css/style.css">
<link rel="icon" href="https://64.media.tumblr.com/bafc236f8913370429d52ee13d363ff9/tumblr_nkm7541saS1r6wywso1_500.gifv">
<title>Create a room</title>
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top justify-content-between">
  <div class="navbar-nav">

    <a href="/staff" class="nav-link nav-item navbar-brand" id="home"><i class="fa fa-fw fa-home"></i> Home</a>

  </div>

<div class="btn-group open">
  <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> <%= name%></a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
  </a>
  <ul class="dropdown-menu">
    <li><a href="/settings"><i class="fa fa-cog "></i> Settings</a></li>
    <li><a href="/logout"><i class="fa fa-sign-out "></i> Logout</a></li>
  </ul>
</div>

</nav>
<body>
  <div class='container-fluid'>
  <div class='row vh-100'>
    <div class='col-2 h-100 bg-light'>
      <div style="margin-top:25%;">
        <nav class="nav nav-pills nav-fill flex-column">
        <a class="nav-link" href="/staffDash">Dashboard</a>
        <a class="nav-link active" href="/staff">Room Booking</a>
        <a class="nav-link disabled" href="#">Student Consultation</a>
        <a class="nav-link disabled" href="#">Timetable</a>
      </nav>
      </div>
    </div>

      <div class='col-8 border'>
    <div class="content">
      <div class="container">

            <div class="row justify-content-center">
              <div class="col-md-4 contents">
                <div class="mb-4">
                <h3>Create a new room</h3>

                <%- include('./partials/messages.ejs') %>
              <form action="/createroom" method="post">


                <div class="form-group">
                  <label for="roomID">Room ID</label>
                  <input
                  type="text"
                  class="form-control"
                  name="roomID"
                  id="roomID"
                  required
                 />

                </div>

                <div class="form-group">
                    <label for="roomCapacity">Capacity</label>
                    <input
                    type="number"
                    class="form-control"
                    name="roomCapacity"
                    id="roomCapacity"
                    required
                   />

                  </div>   <div class="form-group">
                    <label for="price">Price</label>
                    <input
                    type="text"
                    class="form-control"
                    name="price"
                    id="price"
                    required
                   />

                  </div>  <div class="form-group">
                    <label for="promotionalCode">Promotional Code</label>
                    <input
                    type="text"
                    class="form-control"
                    name="promotionalCode"
                    id="promotionalCode"
                   />

                  </div>
                  <div>
                    <br>
                    Launch room on Creation?
                    <br>
                    <label>
                      <input id="launchTrue"onclick="img(0)" class="form-switch" type="radio" name="launchStatus" value="true" >
                      Yes
                    </label>
                    <label>
                      <input id="launchFalse" onclick="img(1)"class="form-switch" checked type="radio"name="launchStatus" value="false" >
                      No
                    </label>
                  </div>
                 <!-- <div>
                    <label for="timeslot">Choose a timeslot:</label>
                   <select name="timeslot" id="role">
                     <option value="0800-1000">0800-1000</option>
                     <option value="1000-1200">1000-1200</option>
                     <option value="1300-1500">1200-1400</option>
                     <option value="1500-1700">1400-1600</option>
                     <option value="1600-1800">1600-1800</option>
                     <option value="1800-2000">1800-2000</option>
                     <option value="2000-2200">2000-2200</option>
                   </select>
                  </div>-->

                <div class="launch row" id="launchgroup">
                  <div class="col">
                    From
                    <div class="form-group">
                    <label for="launchstartdate"></label>
                    <input
                    type="date"
                    class="form-control"
                    name="launchstartdate"
                    id="launchstartdate"
                    min="2022-01-01"
                    max="2099-12-31"
                   />
                    </div>
                  </div>

                  <div class="col">
                    To
                    <div class="form-group">
                    <label for="launchenddate"></label>
                    <input
                    type="date"
                    class="form-control"
                    name="launchenddate"
                    id="launchenddate"
                    min="2022-01-01"
                    max="2099-12-31"
                   />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    From
                    <div class="form-group">
                    <label for="launchstarttime">Start Time</label>
                    <input
                    type="text"
                    class="form-control"
                    name="launchstarttime"
                    id="launchstarttime"
                   />
                 </div>
                  </div>
                  <div class="col">

                  </div>
                </div>
              </div>
            </div>  <div>
              <label for="timeslot">Timeslot from</label>
              <input type="time" min="08:00:00" max="18:00:00" name= "openinghour"value="openinghour" required>
 to 
              <input type="time" min="08:00:00" max="18:00:00" name="closinghour" value="closinghour" required>
            </div>

                  <br>
                <input type="submit" value="Create Room" class="btn btn-block btn-primary">


              </form>
              </div>
          </div>

        </div>
      </div>

  </div>
</div>
  <div class='col-2 h-100 bg-light'>
    </div>
</div>
  </div>

    <script>
      function img(x)
      {if(x==0)
        document.getElementById('launchgroup').style.display='flex'
        else
        document.getElementById('launchgroup').style.display='none'
       return


      }
    </script>
      <script src="stylesheets/js/jquery-3.3.1.min.js"></script>
      <script src="stylesheets/js/popper.min.js"></script>
      <script src="stylesheets/js/bootstrap.min.js"></script>
      <script src="stylesheets/js/main.js"></script>
      </body>
