<!doctype html>
<html lang="en">
<head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="stylesheets/fonts/icomoon/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">

<!-- Bootastrap CSS -->
<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="stylesheets/css/style.css">
<link rel="icon" href="https://64.media.tumblr.com/bafc236f8913370429d52ee13d363ff9/tumblr_nkm7541saS1r6wywso1_500.gifv">
<title>Edit Existing Room</title>
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top justify-content-between">
  <div class="navbar-nav">

    <a href="/staff" class="nav-link nav-item navbar-brand " id="home"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="/createRoom" class="nav-link nav-item navbar-brand " id="createRoom"> Create Room</a>
    <a href="/editRoom" class="nav-link nav-item navbar-brand active" id="createRoom"> Edit  Room</a>

  </div>

<div class="btn-group open">
  <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> <%= name%></a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
  </a>
  <ul class="dropdown-menu">
    <li><a href="/settings"><i class="fa fa-cog "></i> Settings</a></li>
    <li><a href="/logout"><i class="fa fa-sign-out "></i> Logout</a></li>
  </ul>
</div>

</nav>
<body>
    <div class="content">
      <div class="container">

          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
                <h3>Edit an existing room</h3>

                <%- include('./partials/messages.ejs') %>
              <form action="/editroom" method="post">


                <div class="form-group field--not-empty">
                  <label for="roomID">Room ID</label>
                  <input
                  type="text"
                  class="form-control"
                  name="roomID"
                  id="roomID"
                  readonly
                 />

                </div>

                <div class="form-group field--not-empty">
                  <label for="roomCapacity">Capacity</label>
                  <input
                  type="number"
                  class="form-control"
                  name="roomCapacity"
                  id="roomCapacity"
                 />

                </div>
                <div class="form-group field--not-empty">
                    <label for="price">Price</label>
                    <input
                    type="text"
                    class="form-control"
                    name="price"
                    id="price"
                    required
                   />

                  </div>
                  <div class="form-group field--not-empty">
                    <label for="promotionalCode">Promotional Code</label>
                    <input
                    type="text"
                    class="form-control"
                    name="promotionalCode"
                    id="promotionalCode"
                    required
                   />

                  </div>
                  <div>
                    <br>
                    Set launch status
                    <br>
                    <label>
                      <input id="launchTrue"onclick="img(0)"  class="form-switch" type="radio" name="launchStatus" checked value="true" >
                      Yes
                    </label>
                    <label>
                      <input id="launchFalse" onclick="img(1)"class="form-switch" type="radio"name="launchStatus" value="false" >
                      No
                    </label>
                  </div>
                  <div   id="launchgroup">
                    From
                    <div class="form-group">

                    <label for="launchstartdate"></label>
                    <input
                    type="date"
                    class="form-control"
                    name="launchstartdate"
                    id="launchstartdate"
                    value="launchstartdate"
                    min="2022-01-01"
                    max="2099-12-31"
                   />

                  </div>

                  <br>
                  To
                    <div class="form-group">

                    <label for="launchenddate"></label>
                    <input
                    type="date"
                    class="form-control"
                    name="launchenddate"
                    id="launchenddate"
                    value="launchenddate"
                    min="2022-01-01"
                    max="2099-12-31"
                   />

                  </div>
                </div>
                 <!-- <div>
                    <label for="timeslot">Choose a timeslot:</label>
                   <select name="timeslot" id="role">
                     <option value="0800-1000">0800-1000</option>
                     <option value="1000-1200">1000-1200</option>
                     <option value="1300-1500">1200-1400</option>
                     <option value="1500-1700">1400-1600</option>
                     <option value="1600-1800">1600-1800</option>
                     <option value="1800-2000">1800-2000</option>
                     <option value="2000-2200">2000-2200</option>
                   </select>
                  </div>-->
               <br>
                <input type="submit" value="Edit Room" class="btn btn-block btn-primary">
                <input type="button" value="Delete Room"  data-toggle="modal" data-target="#exampleModalCenter" class="bg-danger btn btn-block btn-primary">

<!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="exampleModalLongTitle">Delete Room</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                      Are you sure you want to delete this room?
                    </div>
                    <div class="modal-footer justify-content-center">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <input type="submit" onclick="change()" value="Delete" id="deleteroom" class="btn btn-danger">

                    </div>
                  </div>
                </div>
              </div>


              </form>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>

    <script>
  const roomID =  (localStorage.getItem('room-ID'))
  const price =  (localStorage.getItem('price-ID'))
  const promotionalCode =  (localStorage.getItem('promotionalCode-ID'))
  const roomCapacity =  (localStorage.getItem('roomCapacity-ID'))

  const launchstartdate = localStorage.getItem('launchstartdate-ID')
  const launchenddate = localStorage.getItem('launchenddate-ID')

    document.getElementById('roomID').value = roomID
    document.getElementById('roomCapacity').value = roomCapacity

    document.getElementById('promotionalCode').value = promotionalCode
    document.getElementById('price').value = price
    document.getElementById('roomID').value = roomID
    document.getElementById('launchstartdate').value = launchstartdate
    document.getElementById('launchenddate').value = launchenddate
    function img(x)
      {if(x==0)
        document.getElementById('launchgroup').style.display='block'
        else
        document.getElementById('launchgroup').style.display='none'
       return

      }
    </script>
    <script>
    function change()
    {
      deleteroom = 'true'
    }

</script>

      <script src="stylesheets/js/jquery-3.3.1.min.js"></script>
      <script src="stylesheets/js/popper.min.js"></script>
      <script src="stylesheets/js/bootstrap.min.js"></script>
      <script src="stylesheets/js/main.js"></script>
      </body>
