<!doctype html>
<html lang="en">
<head><meta charset="utf-8">  
 
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="stylesheets/fonts/icomoon/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="stylesheets/css/style.css">
<link rel="icon" href="https://64.media.tumblr.com/bafc236f8913370429d52ee13d363ff9/tumblr_nkm7541saS1r6wywso1_500.gifv">
<title>Sign up</title>


</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top justify-content-between">
    <div class="navbar-nav">
        <a href="/" class="nav-link nav-item navbar-brand" id="home"><i class="fa fa-fw fa-home"></i> Home</a>
     
        <a href="/register" class="nav-link nav-item active" id="Register">Register</a>
    
    </div>  


</nav>
<body>

 
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="stylesheets/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
                <h3>Sign Up</h3> 
                
                <%- include('partials/messages.ejs') %>    
              <form action="/register" method="post"onsubmit="validatePasswords(event)">
  
                <div class="form-group first">
                  <label for="fullname">Full name</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  name="fullname" 
                  id="fullname"
                  required
                  value="<%= typeof fullname != 'undefined' ? fullname: ''%>"/>
  
                </div>
                <div class="form-group">
                  <label for="studentID">Student ID</label>
                  <input 
                  type="studentID"
                  class="form-control"
                  name="studentID"
                  id="studentID"
                  required 
                  value="<%= typeof studentID != 'undefined' ? studentID: ''%>"/>
  
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input 
                  type="email"
                  class="form-control"
                  name="email"  
                  id="email" 
                  required  >
  
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input 
                  type="password"
                  class="form-control" 
                  name="password" 
                  id="password" 
                  required/>
                  
                </div>
                <div class="form-group last mb-4">
                  <label for="confirmPassword">Confirm your password</label>
                  <input
                  type="password"
                  class="form-control"
                  name="confirmPassword"
                  id="confirmPassword"  
                  required/>
                  
                </div>  
                <div>
                  <label for="role">Choose your role:</label>
                 <select name="role" id="role">
                   <option value="student">Student</option>
                   <option value="staff">Staff</option> 
                 </select>
                </div>
             
                
                <div class="d-flex mb-5 align-items-center">
                  <label class="control control--checkbox mb-0"><span class="caption">Creating an account means you're okay with our Terms and Conditions and our  Privacy Policy.</span>
                    <input type="checkbox" checked="checked"/>
                    <div class="control__indicator"></div>
                  </label>
                </div>
               
              
  
                <input type="submit" value="Register" class="btn btn-block btn-primary">
  
                  
              </form>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  
    
      <script src="stylesheets/js/jquery-3.3.1.min.js"></script>
      <script src="stylesheets/js/popper.min.js"></script>
      <script src="stylesheets/js/bootstrap.min.js"></script>
      <script src="stylesheets/js/main.js"></script>  
    </body>
</html>